@model ToDos

@{
    // format date for diplaying in html
    string objectDate = @Model.DueDate.ToString("yyyy-MM-dd");
}

<form method="post">
    <label>Task Id: </label>
    <input type="number" name="Id" value="@Model.Id" readonly />
    <br />

    <label>Description: </label>
    <input type="text" name="ItemDescription" value="@Model.ItemDesciption" readonly />
    <br />

    <label>Completed? @Model.IsComplete</label>

    <br />

    <label>Due Date</label>
    <input type="date" name="DueDate" value="@objectDate" readonly />
    <br />

    <p>Do you wish to delete this entry?</p>
    <input type="submit" value="Yes" />
</form>

<a asp-action="Index" asp-controller="MyTasks">
    <button>No</button>
</a>